doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title FeedMe
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Itim&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='public/css/styles.css')
  body 
    header
        .container-header
          .row
            h1 
              a(href="index.html")
                img.img-fluid(src="../../img/feedme-logo.svg", alt="")
            a#btn-nav-toggle.icon-menu(href="#")
              i.fa-solid.fa-bars.fa-2xl(style='color: #78992f;')
            nav#primary-navigation 
              ul 
                li
                  a(href="aboutus.html") 關於我們
                    ul.submenu 
                      li
                        a(href="new.html") 最新消息
                li
                  a(href="#") 全部商品
                    ul.submenu 
                      li
                        a(href="dog.html") 汪汪鮮食
                      li
                        a(href="cat.html") 貓咪鮮食
                li
                  a(href="faq.html") 常見問題
                .icon-none-2
                  li
                    a(href="sign_in.html") 會員登入
                  li
                    a(href="sign_new.html") 會員註冊
                  li
                    a(href="#") 信箱詢問
                  li
                    a(href="faq.html") 購物車
                .icon-none  
                  li.relative
                    a(href="sign_in.html") 
                      img.img-fluid(src="../../img/user.svg", alt="")
                    ul.submenu-w
                      li
                        a(href="sign_in.html") 會員登入
                      li
                        a(href="sign_new.html") 會員註冊
                  li
                    button.button-contact(type='button' onclick="document.getElementById('id01').style.display='block'" style='width: auto;')
                      img(src="../../img/Contact-us.svg" alt='')
                  li
                    a(href="#") 
                      img.img-fluid(src="../../img/shopping.svg", alt="")
    .question-banner.mb-3
    .container.page-top-position 
        ul.breadcrumb.mb-3 
            li  
                a(href="index.html") 首頁
            li 
                a(href="faq.html")  &nbsp&nbsp FAQ  
    .container.mb-5
      .question-content
        .question 退換貨須知
          .icon-arrow
            i.fa-solid.fa-angle-down
        .answer 1.依消費者保護法規定，網購消費者均享有商品到貨七天鑑賞期(猶豫期)之權益。若對收到的商品有疑慮時，請先將收到商品收妥辦理退貨，商品必須是全新狀態且包裝完整，商品一經拆封，等同商品價值已受損，僅能以福利品出售，若需退換貨，我方須收取價值損失之費用(回復原狀、整新費)，請先確認商品正確、外觀可接受，再行開機/使用，以免影響您的權利，祝您購物順心。各類商品退換貨限制說明，FEEDME出貨已全程攝影，為保障您購物權益，開箱過程請全程錄影；如有問題請反映客服並提供錄影檔案，祝您購物愉快。
        .answer 2.拆封請全程錄影，為了保障雙方權益，請您在開箱過程中務必全程錄影，以確保商品是否遺漏。
        .answer 3.寄錯、缺貨、瑕疵品等，請皆以「完整錄影檔」為依據，(從外送箱未開封的完整狀態開始拍攝才是完整錄影檔)，影片需清楚拍攝【未拆封狀態】、【開箱過程】、【物件本體】、【貨品明細】等。
        .answer 4.影片需提供「原檔清晰開箱影片」，快轉或有明顯剪輯痕跡的影片皆不在受理範圍。
      .question-content
        .question 支付方式
          .icon-arrow
            i.fa-solid.fa-angle-down
        .answer 目前我們提供ATM轉帳、線上刷卡、信用卡定期定額扣款。
      .question-content
        .question 運送服務
          .icon-arrow
            i.fa-solid.fa-angle-down
        .answer 冷凍黑貓宅配、7-11冷凍宅配、全家冷凍宅配
      .question-content
        .question 飲食相關
          .icon-arrow
            i.fa-solid.fa-angle-down
        .answer 
          ul
            li 1.前一晚放冷藏退凍就可以食用
            li 2.人類也可以食用等級鮮食
            li 3.一開始餵可以跟原本食用混合一起餵
            li 4.鮮食不要放超過20分鐘，要趁新鮮餵完
      .question-content
        .question 送貨支付方式
          .icon-arrow
            i.fa-solid.fa-angle-down
        .answer 貨到付款
          ul
            li 1.冷凍宅配 - 信用卡付款
            li 2.冷凍宅配 - ATM轉帳
            li 3.全家、7-11冷凍貨到付款
            li 4.線上刷卡
    footer
        .container
          //- .row-nowrap.col-12.flex-center
          //-   a(href="")
          //-     img.img-fluid(src="../../img/FeedMe_logo_white-05.png", alt="")
          .row-nowrap.footer-list 
            dl.col-12.col-md-3 
              dt 
                a(href="#") FEEDME  
              dd 
                a(href="aboutus.html") 關於我們
              dd 
                a(href="new.html") 最新消息
            dl.col-12.col-md-3 
              dt 
                a(href="#") 全部商品  
              dd 
                a(href="dog.html") 狗狗鮮食
              dd 
                a(href="cat.html") 貓咪鮮食            
            dl.col-12.col-md-3 
              dd
                a 客服時間:週一至週五 8:30-5:30 
              dd
                a 客服專線:(04) 2327-2522  
              dd
                a 聯絡信箱:FeedMe@gmail.com  
            dl.col-12.col-md-3 
              dt 
                a(href="faq.html") FAQ 
              dd 
                a(href="faq.html") 常見問題
              dd 
                a(href="#") 購物須知
            dl.col-12.col-md-3 
              dt 
                a 社群平台 
              dd  
                a(href="#")
                  img(src="../../img/ig.png", alt="")
                a(href="#")
                  img(src="../../img/fb.png", alt="")
                a(href="#")
                  img(src="../../img/line.png", alt="")
    a.page-top(href='javascript:;') TOP
    // jquery主程式
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/99f06fddac.js' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js')
    script(src='https://kit.fontawesome.com/99f06fddac.js' crossorigin='anonymous')
    //- script(src='public/js/WOW-master/dist/wow.min.js')
    script(src="../public/js/script.js") 
    script.
      $('.question-content').on('click', function(){
      $(this).find('.answer').stop().slideToggle()
      $(this).toggleClass('active')
      $(this).siblings().removeClass('active')
      })//.question-content end
